:root {
    /* --primary: #363739; */
    --primary: rgb(54, 55, 57);
    --secondary: #09b5b5;
    --grey: rgb(241, 241, 241);
    --gray: #e6e6e6;
    --black: #363739;
    --light-grey: rgba(0, 0, 0, .125);
}